div.aui-message.warning
    p.title
        span.aui-icon.icon-warning
        strong Deprecation Notice
    p JSON-RPC is&nbsp;
        a(href="https://developer.atlassian.com/display/JIRADEV/SOAP+and+XML-RPC+API+Deprecated+in+JIRA+6.0") deprecated in JIRA 6.0
        | . We recommend using the REST APIs whenever possible.

:markdown
    # JIRA JSON-RPC Scopes

    For more information about the JIRA JSON-RPC APIs, please consult [the documentation on developer.atlassian.com](https://developer.atlassian.com/display/JIRADEV/JIRA+JSON-RPC+Overview)
    and check out the [Product API Browser](../rest-apis/product-api-browser.html).

    RPC calls to the following endpoints are covered:

    *   ``/jirasoapservice-v2``

!= partial("_rpc_api_layout", { scope: scopes.jira.jsonrpc, title: "JIRA JSON-RPC Scopes" })