<%
    // returns "class='aui-nav-selected'" for the current page, or the empty string otherwise
    var selected = function(path) {
        var isSelected = false;
        // trim file extension if present
        if (path.indexOf('.') > -1) {
            path = path.split('.')[0];
        }
        return path === current.path.join("/") ? "class='aui-nav-selected'" : "";
    };
%>

<div class="aui-page-panel-nav">
    <nav class="aui-navgroup aui-navgroup-vertical">
        <div class="aui-navgroup-inner">
            <%- partial('_sidebar_list.ejs', { category: 'guides' }) %>

            <div class="aui-nav-heading">
                <strong>Core Concepts</strong>
            </div>
            <%- partial('_sidebar_list.ejs', { category: 'concepts' }) %>

            <div class="aui-nav-heading">
                <strong>Developing and Deploying</strong>
            </div>
            <%- partial('_sidebar_list.ejs', { category: 'developing' }) %>

            <div class="aui-nav-heading">
                <a href="<%= relDocRoot %>modules/">AddOn Descriptor</a>
            </div>
            <ul class="aui-nav">
                <li <%= selected('modules/authentication') %>>
                    <a href="<%= relDocRoot %>modules/authentication.html">Authentication</a>
                </li>
                <li <%= selected('modules/lifecycle') %>>
                    <a href="<%= relDocRoot %>modules/lifecycle.html">Lifecycle</a>
                </li>
                <li <%= selected('modules/plugin-vendor') %>>
                    <a href="<%= relDocRoot %>modules/plugin-vendor.html">Plugin Vendor</a>
                </li>
            </ul>

            <%- partial('_module_list.ejs', { title: "JIRA Modules", modules: entities.jira, relDocRoot: relDocRoot }) %>
            <%- partial('_module_list.ejs', { title: "Confluence Modules", modules: entities.confluence, relDocRoot: relDocRoot }) %>

            <div class="aui-nav-heading">
                <a href="<%= relDocRoot %>concepts/javascript-api.html">Javascript API</a>
            </div>
            <%- partial('_module_list.ejs', { title: "Javascript API", modules: public.javascript._data, relDocRoot: relDocRoot }) %>

            <div class="aui-nav-heading">
                <a href="<%= relDocRoot %>rest-apis/product-api-browser.html">Using Product APIs</a>
            </div>

            <div class="aui-nav-heading">
                <a href="<%= relDocRoot %>scopes/scopes.html">Product API Scopes</a> <span class="aui-lozenge aui-lozenge-success">new!</span>
            </div>
            <%- partial('_sidebar_list.ejs', { category: 'scopes' }) %>

            <%- partial('_sidebar_list.ejs', { category: 'resources' }) %>

        </div>
    </nav>
</div>
